<mat-form-field class="mx-auto px-1">
  <input matInput (keyup)="applyFilter($event.target.value)" (keydown.enter)="findBoardGame($event.target.value)"
         placeholder="Filter the {{numberOfGames}} items | Press enter to get latest price | Enable GeekMarket for best trades[europe] | @yourbggusername/[o,w,p]"
         #gamename
         maxlength="50"
         required>
  <mat-hint align="start">
    <div id="bggInfoTotal" class="bggInfo" *ngIf="numberOfBggCollection > 0">
      Total value for your <b>{{ numberOfBggCollection }}</b> games: <b>~{{ totalBggCollection | number : '1.2-2' }}</b>
      lei.
    </div>
    <span class="bggInfo" *ngIf="numberOfBggCollection == 0"><i>Place your bgg username starting with @ and
      /o[owned], /w[wishlist], /p[plays] (Sample:  @makowey/o) </i></span>
  </mat-hint>
  <mat-hint align="end">{{gamename.value.length}}/50</mat-hint>
</mat-form-field>

<mat-slide-toggle
  labelPosition="before"
  [checked]="stateCtrl.disabled"
  (change)="onChange()"
  class="float-right px-1">
  <i>GeekMarket</i>
</mat-slide-toggle>

<div class="mat-elevation-z8 mx-auto" style="clear: both">
  <table mat-table [dataSource]="boardGames" matSort class="container">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Prod Column -->
    <ng-container matColumnDef="prod">
      <th mat-header-cell *matHeaderCellDef> Item</th>
      <td mat-cell *matCellDef="let element">
        <img class="avatar" src="{{element.urlImage}}"
             alt="{{element.name}}"
             onerror="this.src='https://vignette.wikia.nocookie.net/lyricwiki/images/d/dd/Unknown.png/revision/latest?cb=20080726074744'">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let element">
        <a href="{{element.store.url}}" target="_blank">{{element.name}}</a>
        <a href="{{element.store.url}}" target="_blank">
          <br><img src="{{element.store.logo}}" class="logo-small float-right"/>
        </a>
        <span class="bggDetails">{{element.bggDetails}}</span>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="currentPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortStart="asc">
        <div *ngIf="!isPlays()"> Price(lei)</div>
        <div *ngIf="isPlays()"> Plays</div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.currentPrice | number : '1.2-2'}}
        <div class="bubble" *ngIf="element.percent >= 25">
          <div class="inside">
            <div class="inside-text">
              {{element.percent}}%
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="store">
      <th mat-header-cell *matHeaderCellDef>
        <div *ngIf="!isPlays()"> Store</div>
        <div *ngIf="isPlays()"> Max Score</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <a href="{{element.store.url}}" target="_blank">
          <img src="{{element.store.logo}}" class="logo"/>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" id="row{{i}}"></tr>
  </table>

  <mat-card *ngIf="isLoading"
            style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

  <footer class="credit">
    <a href="https://boardgamegeek.com/user/makowey">@makowey, 2018</a>,
    Available online games: <a href="http://boardgames.com.ro:8000/index.html?name=HomeScreener">Ganz Shon Clever</a>
  </footer>
  <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
</div>
