<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" (keydown.enter)="findBoardGame($event.target.value)"
         placeholder="Filter the {{numberOfGames}} items | Press enter to load new games">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="boardGames" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Prod Column -->
    <ng-container matColumnDef="prod">
      <th mat-header-cell *matHeaderCellDef> Item</th>
      <td mat-cell *matCellDef="let element">
        <img class="avatar" src="{{element.urlImage}}" alt="{{element.name}}">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="currentPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
      <td mat-cell *matCellDef="let element">{{element.currentPrice}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="store">
      <th mat-header-cell *matHeaderCellDef> Store</th>
      <td mat-cell *matCellDef="let element">
        <a href="{{element.store.url}}" target="_blank">{{element.store.name}}</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" id="row{{i}}"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
</div>
